<div class="row login-form">
	<form name="Login_Form" ng-submit="loginCtrl.login()">
	  <h2 class="form-signin-heading">WORKFlux</h2>
	  <h4 class="form-signin-subheading">Sign in with your organisation account</h4>
	  
	  <div class="login-fail" ng-hide="!loginCtrl.failedLogin">
		<strong>{{loginCtrl.error}}</strong>
	  </div>
	  
	  <input type="email" class="form-control" placeholder="Email" ng-model="loginCtrl.email" ng-required="true" ng-disabled="loginCtrl.uploading" autofocus required/>
	  <input type="password" class="form-control" placeholder="Password" ng-model="loginCtrl.password" ng-required="true" ng-disabled="loginCtrl.uploading" required/>
	  <input type="checkbox" class="check-box-sign-in" id="c1"/> <label for="c1" class="form-signin-label-text">keep me signed in*</label>
	  
	  <button class="btn login-btn" value="Login" type="submit" ng-disabled="loginCtrl.uploading">
		 {{loginCtrl.buttonText}}
	  </button>
	  <br/>
	  <a class="form-signin-label-text">Can't access you account?</a>
	</form>
</div>