
<div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons center">call_received</i>
    </button>
    <button class="btn waves-effect waves-light red darken-3" type="submit" name="action">Submit
        <i class="material-icons right">email</i>
    </button>
    <button class="btn waves-effect waves-light" type="submit" name="action">Discard
        <i class="material-icons right">delete</i>
    </button>
</div>
<div class="row">
    <h4>NEW JOB</h4>
</div>
<div class="row">
    <div input-field>
        <label class="wfs-input-left-label col s2">Input label</label>
        <input type="text" class="wfs-input col s5" ng-model="dummyInputs.name" length="120">
    </div>
</div>
<div class="row">
    <div input-field>
        <textarea ng-model="dummyInputs.client" class="materialize-textarea"></textarea>
        <label>Textarea</label>
    </div>
</div>
