@import 'node_modules/materialize-css/sass/materialize.scss'; // Materialize
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss'; // Bootstrap 

// Real Styles Start here
panel { // Panel base class
    height :  100%;    
}

side-panel {
    @extend panel;
    color : black;
}

main-panel {
    @extend panel;    
    color : grey;
}

.panel-row {
    height : 100%;
    width : 100%;
}
