.login-corner{
	height: 100%;
    width: 100%;
    position: absolute;
}

.login-form{
	padding:20px;
}

body {
  width: 100%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
  ), url("../Images/login-background.jpeg");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding:0px;
  margin:0px;
  overflow: hidden;
}

.login-fail {
	position:relative;
  margin-top: 15px;
  color: red;
}

.form-signin-heading{
	font-size: 30pt;
}

.form-signin-subheading{
	font-size: 16pt;
}
.login-btn{
	margin-top: 15px;
	position:inline;
	width: 100%;
}
