    header, main, footer {
      padding-left: 5%;
    }

	.side-nav {
		max-width: 15%;
	}

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }